@import 'tailwindcss';
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
@font-face {
  font-family: 'Wevas';
  src: url('@/assets/font/H7GBK-Heavy.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Wevas', sans-serif;
}
